<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Лента</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div class="mx-2">
    <th scope="col">Лента новостей</th>
    <a href="/publicationAdd" role="button">Добавить публикацию</a>
    <table class="table table-striped table-hover mt-3">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Описание</th>
            <th scope="col">Изображение</th>
            <th scope="col">Дата</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Источник</th>
        </tr>
        <tr th:each="el : ${publications}">
            <td th:text="${el.id}"/>
            <td th:text="${el.title}"/>
            <td th:text="${el.text}"/>
            <td th:text="${el.image}"/>
            <td th:text="${el.date}"/>
            <td th:text="${el.sourceLink}"/>
            <td th:text="${el.sourceName}"/>
            <td><a class="btn btn-primary" href="" role="button">Редактировать</a></td>
            <td><a class="btn btn-danger" href="" role="button">Удалить</a></td>
        </tr>
    </table>
    <hr>
    <table class="table table-striped table-hover mt-3">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Описание</th>
            <th scope="col">Изображение</th>
            <th scope="col">Дата</th>
            <th scope="col">Источник</th>
        </tr>
        <tr th:each="el : ${publicationsSG}">
            <td th:text="${el.id}"/>
            <td th:text="${el.title}"/>
            <td th:text="${el.text}"/>
            <td th:text="${el.image}"/>
            <td th:text="${el.date}"/>
            <td th:text="${el.sourceName}"/>
            <td><a class="btn btn-primary" th:href="@{${el.sourceLink}}" role="button">К источнику</a></td>
            <td><a class="btn btn-success" th:href="@{/publicationSave/(tittle=${el.title}, text=${el.text}, image=${el.image}, date=${el.date}, sourceLink=${el.sourceLink}, sourceName=${el.sourceName})}" role="button">Сохранить</a></td>
        </tr>
    </table>
</div>
</body>
</html>